.article {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  transition: background-color 1s;
}

.article:hover {
  background-color: rgba(75, 0, 136, 0.05);
}

.article-picture img {
  width: auto;
  max-width: 952px;
  max-height: 400px;
}

.article-picture img:hover {
  cursor: pointer;
}

.article-url button {
  margin-top: 10px;
  min-width: 130px;
  width: auto;
}

.article-info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.article-title {
  font-weight: 700;
  font-size: 1.2em;
}

