<div class="article">

  <div class="article-info">
    <div class="author">{{setAuthorName(article.author)}}</div>
    <div class="date">{{article.date}}</div>
  </div>

  <div class="article-body">
    <div class="title">{{article.title}}</div>
    <div *ngIf="article.articleUrl?.length > 0" class="url">
      <button mat-stroked-button (click)="onNavigate(article.articleUrl)">{{article.sourceName}}</button>
    </div>
  </div>

  <div class="description">{{article.description}}</div>
  <div *ngIf="article.imageUrl?.length > 0" class="picture">
    <img (click)="onNavigate(article.articleUrl)" src={{article.imageUrl}}>
  </div>
</div>



