<div>
  <app-alerts></app-alerts>
  <block-ui message="Pobieram najświeższe wiadomości">
  </block-ui>
  <div class="news-container">
    <div>
      <mat-form-field>
        <mat-select [compareWith]="compareObjects" (selectionChange)="getNewsOnCategoryChange()"
                    [(ngModel)]="selected.value"
                    placeholder="Wybierz kategorię">
          <mat-option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="pagination">
      <button mat-stroked-button (click)="getNews()">Pobierz wiadomości</button>
      <mat-paginator [length]="pageEvent.length"
                     [pageIndex]="pageEvent.pageIndex"
                     [pageSize]="pageEvent.pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="paginationEvent($event)">
      </mat-paginator>
    </div>
    <app-article-list
      [articles]="news.articles">
    </app-article-list>
    <button *ngIf="news?.articles && news.articles?.length > 0" mat-stroked-button (click)="scrollToTop()">Wróć na górę</button>
  </div>
</div>
