@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-notifier/styles.css';
body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  margin: 0;
  background-color: rgba(75, 0, 136, 0.34);
}
